<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="0.4" id="http://people.opera.com/miket/ext/getoffmylawn" defaultlocale="en">
  <name>Get Off My Lawn</name>
  <description>Social Media widgets bringing you down? BLOCK THE CRUFT.</description>
  <author href="http://miketaylr.com">Mike Taylor</author>
  <icon src="icon.png"/>
  <feature name="opera:urlfilter"/>
  
  <!-- block everything by default, like a boss -->
  <preference name="gplusone"     value="blocked" />
  <preference name="gbuzz"        value="blocked" />
  <preference name="fb"       value="blocked" />
  <preference name="fbconnect"    value="blocked" />
  <preference name="twitter"    value="blocked" />
  <preference name="linkedin"     value="blocked" />
  <preference name="addthis"      value="blocked" />
  <preference name="stumble"      value="blocked" />
  <preference name="vkontakte"    value="blocked" />
</widget>